* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
  border: 2px solid black;
  padding: 40px;
  border-radius: 20px;
  background: aliceblue;
  transform: scale(1.1);
  transition: 1s;
}
button {
  width: 70%;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 15px;
  background-color: rgb(65, 209, 65);
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 20px;
}

#restaurantList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;

  transition: max-height 0.5s;
}
.list {

  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  list-style: none;
  background-color: rgb(184, 241, 222);
}
